n8n-workflows/05-google-calendar-sync.json
{
  "name": "Google Calendar Sync",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gcal-sync",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "trigger",
      "name": "Calendar Sync Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [220, 300],
      "webhookId": "gcal-sync",
      "notes": "Called after an appointment is confirmed. Receives: appointment_id, patient_name, patient_phone, doctor_name, appointment_date, start_time, end_time, doctor_email"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT a.id, a.appointment_date, a.start_time, a.end_time, a.google_event_id,\n       p.name AS patient_name, p.phone AS patient_phone, p.email AS patient_email,\n       d.name AS doctor_name, d.email AS doctor_email, d.specialization,\n       s.name AS service_name,\n       c.name AS clinic_name, c.address AS clinic_address, c.phone AS clinic_phone, c.timezone\nFROM appointments a\nJOIN patients p ON a.patient_id = p.id\nJOIN doctors d ON a.doctor_id = d.id\nJOIN clinic c ON a.clinic_id = c.id\nLEFT JOIN services s ON a.service_id = s.id\nWHERE a.id = '{{ $json.body.appointment_id }}';",
        "options": {}
      },
      "id": "get-appointment-details",
      "name": "Get Full Appointment Details",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [440, 300],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Clinic DB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "action-check",
              "leftValue": "={{ $('Calendar Sync Trigger').first().json.body.action }}",
              "rightValue": "create",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "action-switch",
      "name": "Create or Cancel?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "create",
        "calendar": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_CALENDAR_ID || 'primary' }}",
          "mode": "id"
        },
        "start": "={{ $('Get Full Appointment Details').first().json.appointment_date }}T{{ $('Get Full Appointment Details').first().json.start_time }}",
        "end": "={{ $('Get Full Appointment Details').first().json.appointment_date }}T{{ $('Get Full Appointment Details').first().json.end_time }}",
        "additionalFields": {
          "summary": "={{ '🏥 ' + $('Get Full Appointment Details').first().json.patient_name + ' — ' + ($('Get Full Appointment Details').first().json.service_name || 'Consultation') }}",
          "description": "=Patient: {{ $('Get Full Appointment Details').first().json.patient_name }}\nPhone: {{ $('Get Full Appointment Details').first().json.patient_phone }}\nDoctor: {{ $('Get Full Appointment Details').first().json.doctor_name }} ({{ $('Get Full Appointment Details').first().json.specialization }})\nService: {{ $('Get Full Appointment Details').first().json.service_name || 'General Consultation' }}\n\nBooked via WhatsApp Booking System\nAppointment ID: {{ $('Get Full Appointment Details').first().json.id }}",
          "location": "={{ $('Get Full Appointment Details').first().json.clinic_name + ', ' + $('Get Full Appointment Details').first().json.clinic_address }}",
          "attendees": [],
          "colorId": "2",
          "reminders": {
            "useDefault": false,
            "overrides": [
              { "method": "popup", "minutes": 60 },
              { "method": "popup", "minutes": 15 }
            ]
          },
          "timeZone": "={{ $('Get Full Appointment Details').first().json.timezone || 'Asia/Kolkata' }}"
        }
      },
      "id": "create-gcal-event",
      "name": "Create Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.2,
      "position": [880, 220],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "CONFIGURE_ME",
          "name": "Google Calendar"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE appointments SET google_event_id = '{{ $json.id }}' WHERE id = '{{ $('Get Full Appointment Details').first().json.id }}';",
        "options": {}
      },
      "id": "save-event-id",
      "name": "Save Event ID to DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1100, 220],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Clinic DB"
        }
      }
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_CALENDAR_ID || 'primary' }}",
          "mode": "id"
        },
        "eventId": "={{ $('Get Full Appointment Details').first().json.google_event_id }}"
      },
      "id": "delete-gcal-event",
      "name": "Delete Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.2,
      "position": [880, 400],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "CONFIGURE_ME",
          "name": "Google Calendar"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE appointments SET google_event_id = NULL WHERE id = '{{ $('Get Full Appointment Details').first().json.id }}';",
        "options": {}
      },
      "id": "clear-event-id",
      "name": "Clear Event ID",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1100, 400],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Clinic DB"
        }
      }
    }
  ],
  "connections": {
    "Calendar Sync Trigger": {
      "main": [[{ "node": "Get Full Appointment Details", "type": "main", "index": 0 }]]
    },
    "Get Full Appointment Details": {
      "main": [[{ "node": "Create or Cancel?", "type": "main", "index": 0 }]]
    },
    "Create or Cancel?": {
      "main": [
        [{ "node": "Create Calendar Event", "type": "main", "index": 0 }],
        [{ "node": "Delete Calendar Event", "type": "main", "index": 0 }]
      ]
    },
    "Create Calendar Event": {
      "main": [[{ "node": "Save Event ID to DB", "type": "main", "index": 0 }]]
    },
    "Delete Calendar Event": {
      "main": [[{ "node": "Clear Event ID", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": [
    { "name": "google-calendar" },
    { "name": "clinic-booking" }
  ]
}
